<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/newStyle.css">
</head>
<body>
    <form method="post" action="\posts">
        <h2>Create New Blog Post</h2>
        <input placeholder="Enter your username" name="username" required /> <br>
        <textarea placeholder="Write your post" name="content" rows="8" required></textarea>
        <button type="submit">Submit Post</button>
    </form>
</body>
</html>
